$projects-view-navbar-margin-full: 80px; 
$projects-view-navbar-margin-2560: 70px;
$projects-view-navbar-margin-1920: 60px;
$projects-view-navbar-margin: 50px;



.projects-view-wrapper {
  @include box-size-border-box;
  width: 100%;
  margin: $projects-view-navbar-margin-full auto 0 auto;
}

.projects-view-section {
  position: relative;
  width: 100%;

  &.cosbytes-blue {
    background-color: #0F6DB3;
  }
}

.projects-view-section > .inner-wrapper {
  @include flex; @include flex-wrap(wrap);
  margin: 0 auto;
  max-width: 1400px;

  & > h1 {
    font-size: 48px;
    line-height: 1;
  }
  & > h2 {
    font-size: 40px;
    line-height: 1;
  }
  & > h3 {
    font-size: 32px;
    line-height: 1;
  }
  & > h4 {
    font-size: 24px;
    line-height: 1;
  }
}

.projects-view-section > .inner-wrapper > .full-column {
  @include flex; @include flex-column;
  width: 100%;
  

  & > .inner-wrapper {
    margin: auto 20px;
  }
}

.projects-view-section > .inner-wrapper > .half-column {
  @include flex; @include flex-column;
  width: 50%;

  & > .inner-wrapper {
    margin: auto 20px;

    &.anchor-right {
      margin-left: auto;
    }
  }

  & > .inner-wrapper > h1 {
    font-size: 48px;
    line-height: 1;
  }
  & > .inner-wrapper  > h2 {
    font-size: 40px;
    line-height: 1;
  }
  & > .inner-wrapper  > h3 {
    font-size: 32px;
    line-height: 1;
  }
  & > .inner-wrapper > h4 {
    font-size: 24px;
    line-height: 1;
  }
}

.projects-view-section > .inner-wrapper > .quarter-column {
  @include flex; @include flex-column;
  @include transition(0.2s);
  width: 25%;
  color: $black;
  position: relative;

  & > .inner-wrapper {
    @include transition(0.2s);
    cursor: pointer;
    border-radius: 4px;
    height: 300px;
    margin: 20px;
    padding: 10px;

    &:hover {
      background-color: $white;
      height: 310px;
      margin: 10px;
      @include box-shadow(0px, 2px, 5px, 0px, rgba(50, 50, 50, 0.8)); 
    }

    &:active {
      background-color: $amber-400;
    }
  }

  & > .inner-wrapper > h1 {
    font-size: 48px;
    line-height: 1;
  }
  & > .inner-wrapper  > h2 {
    font-size: 40px;
    line-height: 1;
  }
  & > .inner-wrapper  > h3 {
    font-size: 32px;
    line-height: 1;
  }
  & > .inner-wrapper > h4 {
    margin: 20px;
    font-size: 24px;
    line-height: 1;
  }
}

.projects-view-section > .inner-wrapper > * > h1 {
  margin-top: 20px;
  font-size: 48px;

  &.center {
    margin: 0 auto;
  }
}

.projects-view-section > .inner-wrapper > * > h2 {
  margin-top: 20px;
  font-size: 40px;

  &.center {
    margin: 0 auto;
  }
}

.projects-view-section > .inner-wrapper > * > h3 {
  margin-top: 20px;
  font-size: 32px;

  &.center {
    margin: 0 auto;
  }
}

.projects-view-section > .inner-wrapper > * > h4 {
  margin-top: 20px;
  font-size: 24px;

  &.center {
    margin: 0 auto;
  }
}

/* RESPONSIVE STYLES */
@media (max-width: 2560px) {
  .projects-view-wrapper {
    margin: $projects-view-navbar-margin-2560 auto 0 auto;
  }
}

/* 1920 x 1080 support */
@media (max-width: 1920px) {
  .projects-view-wrapper {
    margin: $projects-view-navbar-margin-1920 auto 0 auto;
  }
}

/* 1440 x 900 support */
@media (max-width: 1440px) {
  .projects-view-wrapper {
    margin: $projects-view-navbar-margin auto 0 auto;
  }
}

/* Viewport, right after iPad */
@media (max-width: 1023px) {
  .projects-view-section > .inner-wrapper > .half-column {
    width: 100%;
    margin: 20px 0;
  }
  .projects-view-section > .inner-wrapper > .quarter-column {
    width: 50%;
  }
}

/* iPad Portrait */
@media (max-width: 768px) {

}

/* Right after iPad Portrait */
@media (max-width: 767px) {

}

/* Mobile XL Portrait */
@media (max-width: 425px) {
  .projects-view-section > .inner-wrapper > .quarter-column {
    width: 100%;
  }
}

/* Remove some paddings in extra small screens for more working area */
@media (max-width: 375px) {
  
}
