@mixin spin ($time) {
  -webkit-animation: spin $time linear infinite;
  -moz-animation:    spin $time linear infinite;
  animation:         spin $time linear infinite;
  @-moz-keyframes    spin {
    0% { -moz-transform: rotate(0deg);  }
    100% { -moz-transform: rotate(360deg);  }
  }
  @-webkit-keyframes spin {
    100% { -webkit-transform: rotate(0deg); } 
    100% { -webkit-transform: rotate(360deg); } 
  }
  @keyframes         spin { 
    0% { -webkit-transform: rotate(0deg); transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); transform: rotate(360deg); }
  }
}

@mixin spin-back ($time) {
  -webkit-animation: spin-back $time linear infinite;
  -moz-animation:    spin-back $time linear infinite;
  animation:         spin-back $time linear infinite;
  @-moz-keyframes    spin-back { 100% { -moz-transform: rotate(-360deg); } }
  @-webkit-keyframes spin-back { 100% { -webkit-transform: rotate(-360deg); } }
  @keyframes         spin-back { 100% { -webkit-transform: rotate(-360deg); transform: rotate(-360deg); } }
}

.projects-banner {
  @include jumbotron-background;
  @include box-shadow(0px, 2.5px, 5px, 0px, rgba(25, 25, 25, 0.4));
  // position: relative;s
  overflow: hidden;
  height: 700px;
  width: 100%;
}

.banner-container {
  @include flex; @include flex-column; @include flex-wrap(no-wrap);
  // position: absolute;
  height: 100%;
  width: 100%;
  z-index: 100;
}

.banner-container > h1 {
  font-size: 48px;
  line-height: 1;
  margin: 20px;
  text-align: center;

  &.centered {
    // align-self: center;
    margin: auto;
    margin-top: 200px;
  }
  &.white {
    color: $white;
  }
}

.banner-container > h2 {
  font-size: 40px;
  line-height: 1;
  margin: 20px;

  &.centered {
    align-self: center;
  }
  &.white {
    color: $white;
  }
}

.banner-container > h4 {
  font-size: 24px;
  line-height: 1;
  margin: 20px;

  &.centered {
    align-self: center;
  }
  &.white {
    color: $white;
  }
}

.projects-banner > span {
  @include flex; @include align-center; @include justify-center;
  height: 1px;
  width: 1px;
  overflow: visible;
  color: #1064A2;
  text-shadow: 0px 0px 3px rgba(25, 25, 25, 0.2);
}

#gear1 {
  @include spin(4s);
  font-size: 500px;
  // top: -50px;
  // left: -70px;
  z-index: 50;
}

#gear2 {
  @include spin-back(4s);
  font-size: 500px;
  z-index: 50;
}

#gear3 {
  @include spin(4s);
  font-size: 500px;
  // top: 450px;
  // left: 680px;
  z-index: 50;

}

#gear4 {
  @include spin(8s);
  font-size: 1000px;
  // top: 100px;
  // right: -400px;
  color: rgba(16, 95, 148, 1.0);
}

#gear5 {
  @include spin-back(8s);
  font-size: 1000px;
  top: 200px;
  left: -400px;
  color: rgba(16, 95, 148, 1.0);
}

.spin {
  -webkit-animation:spin 4s linear infinite;
  -moz-animation:spin 4s linear infinite;
  animation:spin 4s linear infinite;
}

.spin-slow {
  -webkit-animation:spin 8s linear infinite;
  -moz-animation:spin 8s linear infinite;
  animation:spin 8s linear infinite;
}

.spin-back {
  -webkit-animation:spin-back 4s linear infinite;
  -moz-animation:spin-back 4s linear infinite;
  animation:spin-back 4s linear infinite;
}

.spin-back-slow {
  -webkit-animation:  spin-back 8s linear infinite;
  -moz-animation: spin-back 8s linear infinite;
  animation:  spin-back 8s linear infinite;
}



@-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
@-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
@keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

@-moz-keyframes spin-back { 100% { -moz-transform: rotate(-360deg); } }
@-webkit-keyframes spin-back { 100% { -webkit-transform: rotate(-360deg); } }
@keyframes spin-back { 100% { -webkit-transform: rotate(-360deg); transform:rotate(-360deg); } }

/* RESPONSIVE STYLES */
@media (max-width: 2560px) {

}

/* 1920 x 1080 support */
@media (max-width: 1920px) {

}

/* 1440 x 900 support */
@media (max-width: 1440px) {

}

/* Viewport, right after iPad */
@media (max-width: 1023px) {
  .projects-banner {
    height: 400px;
  }

  .banner-container > h1 {

    &.centered {
      margin-top: 160px;
    }
  }
}

/* iPad Portrait */
@media (max-width: 768px) {

}

/* Right after iPad Portrait */
@media (max-width: 767px) {

}

/* Mobile XL Portrait */
@media (max-width: 425px) {
  
}

/* Remove some paddings in extra small screens for more working area */
@media (max-width: 375px) {

}
